body{
    background-color: rgb(25, 22, 22);
}

.header {
    width: max-content;
    height: 50px;
}

.header p{
    font-size: 30px;
    margin-left: 520px;
    
    margin-top: 50px;
    color: white;
}

.principal{
    text-align: center;
    
    border: 3px solid white;
    max-width: 400px;
    margin-left: 400px;
    padding-bottom: 10px;
}

h1{
    color: white;
}

button:hover{
    cursor: pointer;
}

button{

    height: 3em;
    width: 5.5em;
    color: white;
    border: none;
}

.start-btn{
    background-color: green;
}

.pause-btn{
    background-color: rgb(85, 122, 154);
}

.reset-btn{
    background-color: red;
}
